doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles/style.css")
        link(rel="stylesheet", href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        title Администрирование
    body.start
        div.social-info
            h1.h1 Социальная сеть
            br
            div.div-news